.card {
    width: 100px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
}

.card img {
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper > div {
    flex: 1 1 200px;
}